@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
}

.wrapper {
    max-width: 1100px;
}

.wrapper .title {
    text-align: center;
    max-width: 500px;
    margin: 0 auto 45px;
    color: #fff;
    background-color: rgb(133, 0, 0);
    padding: 15px;
    border-radius: 17px;
    box-shadow:  20px 20px 26px #bebebe,
    -20px -20px 26px #ffffff;
    transition: all 0.3s ease;
}
.wrapper .title:hover {
    background-color: #fff;
    color: rgb(133, 0, 0);
    cursor: pointer;
}

.wrapper .gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image {
    padding: 7px;
    width: calc(100% / 3);
}

.gallery .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .image:hover img {
    transform: scale(1.1);
}


@media (max-width: 1000px) {
    .gallery .image {
        width: calc(100% / 2);
    }

}

@media (max-width: 600px) {
    .gallery .image {
        padding: 4px;
        width: 100%;
    }

}


.preview-box {
    position: fixed;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #fff;
    padding: 0 5px 5px 5px;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}

.preview-box .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 12px 10px;
}

.preview-box .details .icon {
    color: #007bff;
    cursor: pointer;
    font-size: 20px;
}

.details .title {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.details .title p {
    margin: 0 5px;
}

.details .title p.current-img {
    font-weight: 500;
}

.preview-box .img-box {
    display: flex;
    width: 100%;
}

.img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    z-index: 3;
    color: #fff;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.img-box .slide.prev {
    left: 0;
}

.img-box .slide.next {
    right: 0;
}

.preview-box .img-box img {
    width: 100%;
    border-radius: 0 0 3px 3px;
}



.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
